services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/app:cached
    working_dir: /app
    # Override default command so the container stays running
    command: sleep infinity
